<!DOCTYPE html>
<html lang="de">



<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="Content-Type" content="text/html;charset=UTF=8" />
  <title>{{appTitle}}</title>


  <script>
    window["sap-ushell-config"] = {
      defaultRenderer: "fiori2",
      applications: {
        "app-test": {
          title: "Test",
          additionalInformation: "SAPUI5.Component=test",
          applicationType: "URL",
          url: "/test/webapp",
          navigationMode: "embedded",
        },
    
      },
    };
  </script>

<script src="https://sapui5.hana.ondemand.com/test-resources/sap/ushell/bootstrap/sandbox.js"></script>

<script id="sap-ui-bootstrap" 
 type="text/javascript"
 src="https://sapui5.hana.ondemand.com/resources/sap-ui-core.js"
 data-sap-ui-theme="sap_fiori_3"
 data-sap-ui-libs="sap.m,sap.ushell,sap.fe.templates,sap.collaboration,sap.ui.layout"
 data-sap-ui-compatVersion="edge"
 data-sap-ui-frameOptions="allow">
</script>

<script>
jQuery.sap.require("sap.ushell.iconfonts");
jQuery.sap.require("sap.ushell.services.AppConfiguration");
sap.ushell.iconfonts.registerFiori2IconFont();
sap.ui.getCore().attachInit(
    () => sap.ushell.Container.createRenderer().placeAt('content')
)
</script>

</head>
<body class="sapUiBody" id="content">

</body>
</html>
